<?xml version="1.0" encoding="utf-8"?>
<form>
    <fields name="params">
        <fieldset name="basic"
                  addfieldpath="/components/com_tz_portfolio_plus/addons/mediatype/image/models/fields">
            <field type="spacer" name="spacer_mt_image_name"
                   class="alert alert-warning btn-block"
                   label="PLG_MEDIATYPE_IMAGE_OPTIONS_LABEL"/>​
            <field type="tzimagesizelist" addon="image"
                   addon_group="mediatype"
                   param_name="image_size"
                   param_text="title"
                   param_value="image_name_prefix"
                   name="mt_image_size"
                   label="PLG_MEDIATYPE_IMAGE_SIZE_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_SIZE_DESC">
                <option value="o">PLG_MEDIATYPE_IMAGE_ORIGINAL</option>
            </field>
            <field type="tzimagesizelist" addon="image" name="mt_image_flex_thumbnail_size"
                   addon_group="mediatype"
                   param_name="image_size"
                   param_text="title"
                   param_value="image_name_prefix"
                   label="MO_TZ_PORTFOLIO_PLUS_FLEXSLIDER_IMAGE_THUMBNAIL_SIZE_LABEL"
                   description="MO_TZ_PORTFOLIO_PLUS_FLEXSLIDER_IMAGE_THUMBNAIL_SIZE_DESC">
                <option value="o">PLG_MEDIATYPE_IMAGE_ORIGINAL</option>
            </field>
        </fieldset>
    </fields>
</form>